
<div class="body">
    <h1 class="he">Conociendo los cuerpos y figuras geométricas</h1>
    <div class="instructions">Une las palabras con su definición</div>

    <div class="ct">
        <svg id="lines"></svg>
        <div class="column" id="terms"></div>
        <div class="column" id="definitions"></div>
    </div>

    <button class="bn" onclick="calificarEjercicio()">Calificar Ejercicio</button>
    <div id="result"></div>

 