

<div class="body">
 
  <!-- Contenedor de recuadros -->
  <div class="contenedor">
    <div class="item">
    <!-- Recuadro 1 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/La_tiendita" >
        <img src="/images/tienda.gif" alt="GIF 1">
      </a>
      </div>
      
      <p class="texto">La  Tiendita</p>
        
    </div>
    
    <div class="item">
    <!-- Recuadro 2 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/picnic" >
        <img src="/images/picnic.gif" alt="GIF 2">
      </a>
    </div>
    <p class="texto" >El Picnic 
    </div>
    <!-- Recuadro 3 -->
    <div class="item">
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/conteo" >
        <img src="/images/conteo1.gif" alt=" GIF 3">
      </a>
    </div>
    <p class="texto">El Conteo</p>
</div>
<div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/detective" >
        <img src="/images/detective.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">EL Detective </p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/fiesta" >
        <img src="/images/fiesta.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">La Fiesta</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/ladron" >
        <img src="/images/ladron.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">El ladron</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta/sr" >
        <img src="/images/sumres.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Sumando y Restando</p>
  </div>
  </div>
</div>