
    <!-- Contact Start -->
    <div class="container-fluid py-5" style="background-image: url('images/nubes1.jpeg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            min-height: 100vh; 
            ">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h1 style="letter-spacing: 5px; color: rgb(28, 89, 142); ">Contactanos</h5>
                <h1 style="color: rgb(40, 125, 198);">Resolveremos tu duda a la Brevedad</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="name" placeholder="Tu Nombre" required="required" data-validation-required-message="Por Favor ingresa tu nombre" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control border-0 p-4" id="email" placeholder="Tu Correo" required="required" data-validation-required-message="Por Favor ingresa tu Correo" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="subject" placeholder="Tema" required="required" data-validation-required-message="Por Favor Agrega el Tema "/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control border-0 py-3 px-4" rows="5" id="message" placeholder="Mensaje" required="required" data-validation-required-message="Por Favor escribe un mensaje"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Enviar Mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->