    
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" >
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Suiguenos en Nuestras Redes</h5>
                    
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-square mr-2" href="https://x.com/escomunidad/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-square mr-2" href="https://www.facebook.com/escomipnmx/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-square mr-2" href="https://www.linkedin.com/in/eduardo-salgado-gallegos-39822327b/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-square" href="https://www.instagram.com/escom_ipn_mx/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros Temas</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Sucesiones Númericas</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Sumas y Restas</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Multiplicación y División</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Figuras Geométricas</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Medición de Masa, Longitud y Capacidad</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Medición del Tiempo</a>
                        <a class="text-white mb-2" ><i class="fa fa-angle-right mr-2"></i>Interpretación de Datos</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="#">Plataforma Interactiva</a>. All Rights Reserved. Designed by <a href="#">Eduardo, Xolio ,Adad (ESCOM)</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer End -->