<header>
    <!-- Logo -->
    <div class="logo-icon">
    </div>
    
    <!-- Botones del lado derecho -->
    <div class="hd1">
        <!-- <span class="bnv">BIENVENIDO</span> -->
        <!-- <span class="bnvU">BIENVENIDO</span> -->
        <!-- <i class="bi bi-dot icon" style="color: white;"></i>
        <span id="UserLogin" style="color: white; font-weight: 700;"></span> -->
    </div>
    
</header>

<!-- Barra azul debajo del header -->
<div class="barra-azul">
    <!-- Logo ============================================= -->
    <div id="logo">
        <a href="/">
            <img class="logo-home" src="images/logo1.png"  alt="NUMBOLAND Logo">
        </a>
    </div>
    <!-- #logo end -->

    <!-- Primary Navigation ============================================= -->
    <nav class="primary-menu">

        <ul class="menu-container nav_ul-item">
            <li class="menu-item ">
                <a class="menu-link text-h" href="/home"><div>Inicio</div></a>
            </li>

            <li class="menu-item ">
                <a class="menu-link text-h" href="/aprendizaje"><div>APRENDIZAJE</div></a>
            </li>

            <li class="menu-item sub-menu">
                <a class="menu-link text-h" href="#"><div style="color: white;">CONTENIDO<i class="bi bi-chevron-down"></i></div></a>
                <ul class="sub-menu-container">
                    <li class="sub-menu-item">
                        <a class="menu-link text-h" href="/primero"><div>1° Primero</div></a>
                    </li>
                    <li class="sub-menu-item">
                        <a class="menu-link text-h" href="/segundo"><div>2° Segundo</div></a>
                    </li>
                    <li class="sub-menu-item">
                        <a class="menu-link text-h" href="/tercero"><div>3° Tercero</div></a>
                    </li>
                </ul>
            </li>
            
            <li class="menu-item">
                <a class="menu-link text-h" href="/login"><div>INICIA SESIÓN</div></a>
            </li>
            
        </ul>

    </nav><!-- #primary-menu end -->
</div>
