
<div class="body">

  <!-- Contenedor de recuadros -->
  <div class="contenedor">
    <div class="item">
    <!-- Recuadro 1 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros/ema">
        <img src="/images/numeros.gif" alt="GIF 1">
      </a>
      </div>
      
      <p class="texto">La Escalera <br> Mágica <br> Ascendente</p>
        
    </div>
    
    <div class="item">
    <!-- Recuadro 2 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros/emd">
        <img src="/images/num2.gif" alt="GIF 2">
      </a>
    </div>
    <p class="texto" >La Escalera <br> Mágica <br> Descendente</p>
    </div>
    <!-- Recuadro 3 -->
    <div class="item">
    <div class="recuadro">
      <a href="/ejercicios_numeros/mercado">
        <img src="/images/mercado.gif" alt=" GIF 3">
      </a>
    </div>
    <p class="texto">Vamos al <br> Mercado</p>
</div>
<div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros/caja">
        <img src="/images/caja.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Caja <br> Misteriosa</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros/tren">
        <img src="/images/tren.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">El tren de <br> los Números</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros/en">
        <img src="/images/diez.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Encontrando<br>  Números</p>
  </div>
  </div>
</div>