
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo3/ct3" >
          <img src="/images/cal.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Conociendo el Tiempo</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo3/reloj">
          <img src="/images/relojes.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Los relojes</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_tiempo3/midia3">
          <img src="/images/iti.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Mi Día a Día</p>
  </div>
 
    </div>
  </div>