
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_datos/granja">
          <img src="/images/granja.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">La Granja</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_datos/deporte">
          <img src="/images/soccer.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >El deporte y la Naturaleza</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_datos/aviones">
          <img src="/images/aviones.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Los Aviones</p>
  </div>
 
    </div>
  </div>