/* Header principal */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Parte blanca superior izquierda */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Parte azul inferior derecha */
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 203%;
    height: 100%;
    background-color: #44425a; /* Azul oscuro */
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 19% 100%)
}

  /* Asegurar que el contenido del header esté por encima */
header * {
    position: relative;
    z-index: 1;
}

.hd1 > span {
    margin: 0 25px 0 0 !important;
}

.bnv {
    color: white !important; 
    font-size: 1rem !important;
    font-weight: bold;
}

.bnvU {
    color: #FF632D !important; 
    font-size: 1rem !important; 
    font-weight: bold !important;
}

.topBar_span-visita {
    color: #6c83ab !important;
}

.icon {
    font-size: xxx-large !important; /* Hereda el tamaño del h1 */
    vertical-align: middle !important; /* Alinea con el texto */
}

/* Logo a la izquierda */
.logo-icon img {
    height: 30px;
}

/* Barra azul debajo del header */
.barra-azul {
    background-color: #3ea4d3; /* Color de fondo azul */
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo dentro de la barra */
#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 30px;
}

/* Contenedor de navegación */
.primary-menu {
    display: flex;
    align-items: center;
}

/* Contenedor de los elementos de la lista */
.menu-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0px;
}

/* Estilos de las listas*/
/* Asegurar que el <li> tenga el mismo tamaño que el <a> */
.menu-item {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

/* Línea divisora entre los elementos */
.menu-item:not(:first-child) {
    border-right: 2px solid white; /* Línea divisoria blanca */
}

/* Línea divisora antes del primer elemento */
.menu-item:first-child {
    border-left: 2px solid white; /* Línea blanca al inicio */
    border-right: 2px solid white; /* Línea divisoria con el segundo elemento */
    padding-left: 1px; /* Espacio para que no se pegue el texto */
}

/* Diseño de los botones */
/* Hacer que el <a> ocupe todo el espacio disponible */
.menu-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 11px 10px;
    background-color: #3ea4d3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Para que el <a> abarque todo el <li> */
    height: 100%; /* Ocupe toda la altura */
    min-width: 120px; /* Evita que el primer botón sea demasiado pequeño */
}


/* Efecto hover */
.menu-link:hover {
    background-color: #002f6c;

}

/* Ajustes para el icono */
.icono {
    font-size: 1.2rem;
    margin-left: 8px;
}

.logo-home { 
    position: absolute !important; 
    width: 110px !important; 
    height: auto !important; 
    z-index: 99 !important; 
    top: -0.7% !important; 
}

.text-h {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-i {
    font-size:  1.2rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* Asegurar que el submenú esté oculto por defecto */
.sub-menu-container {
    display: none;
    list-style-type: none;
    padding-left: 0;
    position: absolute; /* Hace que el submenú no afecte el flujo del documento */
    background: #333; /* Color de fondo para diferenciarlo */
    width: 218px; /* Ancho del menú */
    top: 100%; /* Posiciona el menú justo debajo del padre */
    left: 0; /* Asegura que se alinee con el elemento padre */
    z-index: 100; /* Asegura que se muestre encima de otros elementos */
    border-radius: 4px;
}

/* Línea divisora antes del primer elemento */
.sub-menu-item:first-child {
    border-left: 0px solid white; /* Línea blanca al inicio */
    border-right: 0px solid white; /* Línea divisoria con el segundo elemento */
    padding-left: 0px; /* Espacio para que no se pegue el texto */
}

/* Mostrar el submenú cuando el mouse pasa sobre el padre */
.menu-item:hover .sub-menu-container {
    display: block;
}

