

<div class="body">
 
  <!-- Contenedor de recuadros -->
  <div class="contenedor">
    <div class="item">
    <!-- Recuadro 1 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/La_tiendita3" >
        <img src="/images/tienda.gif" alt="GIF 1">
      </a>
      </div>
      
      <p class="texto">La  Tiendita</p>
        
    </div>
    
    <div class="item">
    <!-- Recuadro 2 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/sume3" >
        <img src="/images/frutas.gif" alt="GIF 2">
      </a>
    </div>
    <p class="texto" >Sumando Frutas </p>
    </div>
    <!-- Recuadro 3 -->
    <div class="item">
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/conteo3" >
        <img src="/images/conteo1.gif" alt=" GIF 3">
      </a>
    </div>
    <p class="texto">El Conteo</p>
</div>
<div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/smv3" >
        <img src="/images/smv.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Sumas Verticales</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/rv3" >
        <img src="/images/rv.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Restas Verticales</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/cartas3" >
        <img src="/images/carta.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Las Cartas</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_suma_resta3/sr3" >
        <img src="/images/sumres.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Sumando y Restando</p>
  </div>
  </div>
</div>