
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">
                    <h5 class="text-primary m-0"><i class="fa fa-book-open mr-2"></i>Temas 2° de Primaria</h5>
                    <i class="fa fa-angle-down text-primary"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 9;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link " data-toggle="dropdown">1er Periodo<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0 ">
                                <a href="/tema8" class="dropdown-item ">Estudio de los numeros</a>
                                <a href="/tema9" class="dropdown-item">Suma y Resta</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">2do Periodo<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="/tema10" class="dropdown-item">Multiplicación y División</a>
                                <a href="/tema11" class="dropdown-item ">Cuerpos Geométricos</a>
                                <a href="/tema12" class="dropdown-item">Figuras Geométricas</a>
                                
                                
                                
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">3er Periodo<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="/tema13" class="dropdown-item">Medición de Longitud, Masa y Capacidad</a>
                                <a href="/tema14" class="dropdown-item ">Medición del Tiempo</a>
                                <a href="/tema15" class="dropdown-item">Organización e Interpretación de Datos</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav py-0">
                            <a href="/home" class="nav-item nav-link active"><h5 class="text-primary m-0"><i class="fa fa-house mr-2 "></i>Inicio</h5></a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sharp fa-solid fa-pencil mr-2"></i>Ejercicios</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/ejercicios_numeros2" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-1 mr-2"  style="color: #3ea4d3;"></i><i class="fa fa-sharp fa-solid fas fa-2 mr-2"  style="color: #3ea4d3;"></i><i class="fa fa-sharp fa-solid fas fa-3 mr-2"  style="color: #3ea4d3;"></i> Estudio de los Números</a>
                                    <a href="/ejercicios_suma_resta2" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-plus mr-2"  style="color: #3ea4d3;"></i>/ <i class="fas fa-sharp fa-solid fa-minus mr-2"  style="color: #3ea4d3;"></i> Suma y Resta</a>
                                    <a href="/ejercicios_mul_div2" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-xmark mr-2"  style="color: #3ea4d3;"></i>/ <i class="fas fa-sharp fa-solid fa-divide mr-2"  style="color: #3ea4d3;"></i> Multiplicación y División</a>
                                    <a href="/ejercicios_figuras2" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-square  mr-2" style="color: #3ea4d3;"></i> / <i class="bi bi-circle-fill mr-2" style="color: #3ea4d3;"></i> / <i class="bi bi-triangle-fill mr-2" style="color: #3ea4d3;"></i>Cuerpos y Figuras Geométricas</a>
                                    <a href="/ejercicios_mcl2" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-ruler mr-2" style="color: #3ea4d3;"></i>Medición de Longitud, Masa y Capacidad</a>
                                    <a href="/ejercicios_tiempo2" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-clock mr-2" style="color: #3ea4d3;"></i> Medición del Tiempo</a>
                                    <a href="/ejercicios_datos2" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-table  mr-2" style="color: #3ea4d3;"></i>Organización e Interpretación de Datos</a>
                                </div>
                            </div>
                            <a href="/reportes2" class="nav-item nav-link"><i class="fa fa-solid fa-list-check mr-2"></i>Progreso</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-solid fa-graduation-cap mr-2"></i>Calificaciones</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/calificaciones" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-1 mr-2"  style="color: #3ea4d3;"></i><i class="fa fa-sharp fa-solid fas fa-2 mr-2"  style="color: #3ea4d3;"></i><i class="fa fa-sharp fa-solid fas fa-3 mr-2"  style="color: #3ea4d3;"></i> Estudio de los Números</a>
                                    <a href="/calificacionessr" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-plus mr-2"  style="color: #3ea4d3;"></i>/ <i class="fas fa-sharp fa-solid fa-minus"  style="color: #3ea4d3;"></i> Suma y Resta</a>
                                    <a href="/calificaciones_mul_div" class="dropdown-item"><i class="fa fa-sharp fa-solid fas fa-xmark mr-2"  style="color: #3ea4d3;"></i>/ <i class="fas fa-sharp fa-solid fa-divide mr-2"  style="color: #3ea4d3;"></i> Multiplicación y División</a>
                                    <a href="/calificacionescfg" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-square  mr-2" style="color: #3ea4d3;"></i> / <i class="bi bi-circle-fill mr-2" style="color: #3ea4d3;"></i> / <i class="bi bi-triangle-fill mr-2" style="color: #3ea4d3;"></i>Cuerpos y Figuras Geométricas</a>
                                    <a href="/calificacioneslmc" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-ruler mr-2" style="color: #3ea4d3;"></i>Medición de Longitud, Masa y Capacidad</a>
                                    <a href="/calificacionest" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-clock mr-2" style="color: #3ea4d3;"></i> Medición del Tiempo</a>
                                    <a href="/calificacionesd" class="dropdown-item"><i class="fa fa-sharp fa-solid fa-table  mr-2" style="color: #3ea4d3;"></i>Organización e Interpretación de Datos</a>
                                </div>
                            </div>
                            <a href="/insignias" class="nav-item nav-link"><i class="fa fa-solid fa-medal mr-2"></i>Insignias</a>
                        </div>
                        <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/logout">Cerrar Sesión</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->