<section id="content">
    <div class="content-grid">
        <div class="side left">
            <div class="ticker"></div> <!-- Aquí irá el texto animado -->
        </div>

        <div class="main">
            <div class="content-grade"><span class="text_img">Contenido por grado</span></div>
            <div class="content-knowledge"><span class="text_img">Conócenos</span></div>
        </div>

        <div class="content-video">Video aprendizaje</div>

        <div class="info-sections">
            <div class="explore"><span class="text_img">Explora</span></div>
            <div class="info"><span class="text_img">Detalles</span></div>
            <div class="info_2"><span class="text_img">Información</span></div>
            <div class="awards"><span class="text_img">Premios y demás información</span></div>
        </div>

        <div class="side right">
            <div class="ticker"></div> <!-- Aquí irá el otro texto animado -->
        </div>
    </div>
</section>
