<div class="body">

    <h2>Pictograma: Barcelona y Real Madrid</h2>
    
    <div class="contenedor">
      <table>
        <tr>
          <th><img src="/images/barca.png" alt="Logo Barcelona"></th>
          <th>Barcelona</th>
          <td>丘쬂잺</td><td>丘쬂잺</td><td>丘쬂잺</td><td>丘쬂잺</td><td>丘쬂잺</td><td>丘쬂잺</td><td>丘쬂잺</td>
        </tr>
        <tr>
          <th><img src="/images/madrid.png" alt="Logo Real Madrid"></th>
          <th>Real Madrid</th>
          <td>丘쬂잺</td><td>丘쬂잺</td>
        </tr>
      </table>
    
      <div class="pregunta">
        쮺u치ntos goles le faltaron al Real Madrid para ganarle al Barcelona? <span id="iconGallinas"></span>
      </div>
      <div class="respuesta">
        <div id="gallinaOrigen" class="draggable" draggable="true" ondragstart="drag(event)">丘쬂잺</div>
      </div>
      <div id="zonaGallinas" class="zona"></div>
    
      <div class="pregunta">
        쮺u치ntos goles hicieron en total los dos equipos? <span id="iconCisnes"></span>
      </div>
      <div class="respuesta">
        <div id="cisneOrigen" class="draggable" draggable="true" ondragstart="drag(event)">丘쬂잺</div>
      </div>
      <div id="zonaCisnes" class="zona"></div>
      <table>
        <tr>
          <th><img src="https://static.vecteezy.com/system/resources/thumbnails/009/314/143/small/tree-bench-lamp-and-trash-can-in-the-park-vector-illustration-free-png.png" alt="Logo Barcelona"></th>
          <th>츼rboles</th>
          <td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td><td>游꺕</td>
        </tr>
        <tr>
          <th><img src="https://static.vecteezy.com/system/resources/thumbnails/009/314/143/small/tree-bench-lamp-and-trash-can-in-the-park-vector-illustration-free-png.png" alt="Logo Real Madrid"></th>
          <th>Flores</th>
          <td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td><td>游꺚</td>
        </tr>
      </table>
      <div class="pregunta">
        Se talaron 8 치rboles del parque , 쮺u치ntos quedaron en total? <span id="iconArboles"></span>
      </div>
      <div class="respuesta">
        <div id="arbolOrigen" class="draggable" draggable="true" ondragstart="drag(event)">游꺕</div>
      </div>
      <div id="zonaArboles" class="zona"></div>
    
      <div class="pregunta">
        Un ni침o arranco del arbusto 11 flores, 쮺u치ntas quedaron? <span id="iconFlores"></span>
      </div>
      <div class="respuesta">
        <div id="florOrigen" class="draggable" draggable="true" ondragstart="drag(event)">游꺚</div>
      </div>
      <div id="zonaFlores" class="zona"></div>
    
      <div class="resultado" id="mensajeResultado"></div>
    
      <div class="intentos">
        Intentos restantes: <span id="intentosRestantes">5</span>
      </div>
    
      <button class="bc" id="btnCalificar" onclick="calificar()">Calificar</button>
      <button class="bc" id="btnReiniciar" onclick="reiniciar()">Intentar de nuevo</button>
    </div>
</div>