

<div class="body">
 
    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla10" >
          <img src="/images/10_1.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Tabla del 10</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla20" >
          <img src="/images/20.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Tabla del 20</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla30" >
          <img src="/images/30.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Tabla del 30</p>
  </div>
  <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla40">
          <img src="/images/40.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 40</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla50" >
          <img src="/images/50.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 50</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla60" >
          <img src="/images/60.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 60</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div3/tabla70" >
          <img src="/images/70.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 70</p>
    </div>
    <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div3/tabla80" >
            <img src="/images/80.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 80</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div3/tabla90" >
            <img src="/images/90.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 90</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div3/tabla100" >
            <img src="/images/100.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 100</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div3/fim" >
            <img src="/images/ff.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Fiesta de las Frutas</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div3/divisiones" >
            <img src="/images/dividir.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Divisiones</p>
      </div>
    </div>
  </div>