 <div class="body">
 <h1 class="he">🌟 Programa Académico de Matemáticas 2° de Primaria 🌟</h1>

  <table>
    <tr>
      <th>Contenidos</th>
      <th>Procesos de desarrollo de aprendizaje</th>
    </tr>

    <tr>
      <td class="contenido">Estudio de los números</td>
      <td>
      Expresa oralmente la sucesión numérica hasta 1000, en español y hasta donde sea posible en su lengua materna, de manera ascendente y descendente a parir de un número dado.

A través de situaciones cotidianas
cuenta, ordena, representa de
diferentes formas, interpreta, lee

y escribe la cantidad de elemen-
tos de colecciones con menos de

1000 elementos; identifica regu-
laridades en los números que

representan unidades, decenas y
centenas.
Utiliza los símbolos “<”, “>” o “=”
para comparar u ordenar dos
números.
      </td>
    </tr>

    <tr>
      <td class="contenido">Construcción de la noción de suma y resta</td>
      <td>
        Representa con diferentes expre-
siones aditivas (suma y resta)

cantidades menores a 1000.

Resuelve problemas que implican avanzar (suma) y retroceder

(resta) en la recta numérica.

Resuelve situaciones problemáticas vinculadas a su contexto que

implican sumas utilizando agrupamientos y el algoritmo convencional con números de hasta dos

cifras.
Utiliza, explica y comprueba sus

estrategias para calcular mentalmente sumas o restas con números naturales de hasta dos cifras.
      </td>
    </tr>

    <tr>
      <td class="contenido">Construcción de la noción de multiplicación y división, y su relación como operaciones inversas.</td>
      <td>
        Resuelve problemas vinculados a

su contexto que requieren multi-
plicar con apoyo de material concreto, sumas iteradas o arreglos

rectangulares, que involucran
números menores o iguales a
10; reconoce a la multiplicación
como la operación que resuelve
problemas en los que siempre
se suma la misma cantidad y
utiliza el signo “×” (por) para
representarla.
Distingue y explica diferencias

entre problemas que se resuelven con sumas de sumandos

diferentes y problemas que se

resuelven con sumas de suman-
dos iguales.

Utiliza y explica diversas estrategias para calcular mentalmente

multiplicaciones de números
naturales menores que 10.
Resuelve, mediante diversos
procedimientos, problemas que
implican repartos con divisores
menores que 10 y dividendo de
dos cifras.
    </tr>

     <tr>
      <td class="contenido">Cuerpos Geométricos y sus características</td>
      <td>
        Clasifica objetos de su entorno o
cuerpos geométricos de acuerdo

con distintos criterios (caras planas o curvas, caras iguales); los

construye usando cajas, bloques
o cubos.
      </td>
    </tr>
    <tr>
      <td class="contenido">Figuras geométricas y sus características</td>
      <td>
        Construye composiciones

geométricas cada vez más com-
plejas, por el tipo de figuras o por

el número de “piezas”, con el uso
del tangram y geoplano.
Clasifica y describe polígonos por
el número de lados en triángulos,

cuadriláteros, pentágonos, hexágonos y octágonos, utilizando

paulatinamente un lenguaje for-
mal para referirse a sus propiedades (número de vértices y lados);

los construye sobre retículas de
cuadrados o puntos.
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición de longitud, masa y capacidad</td>
      <td>
       Estima, mide, compara, ordena
y registra longitudes, usando
unidades arbitrarias (objetos o
instrumentos de medida) de su
comunidad y las representa en
rectas numéricas.
Compara capacidades y masas,
usando unidades de medida de

la comunidad, o unidades arbitrarias; representa los resultados

con dibujos y numerales.
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición del tiempo</td>
      <td>
       Describe y registra cronológicamente en tablas, pictogramas o

calendarios, hechos y fenómenos

naturales y sociales en perio-
dos (día, semana, mes y año),

utilizando los términos de su
comunidad (actividad recurrente
durante todo el ciclo escolar);

reconoce que el año está integrado por doce meses que ocu-
rren cíclicamente.
      </td>
    </tr>

    <tr>
      <td class="contenido">Organización e Interpretación de Datos</td>
      <td>
       Recolecta, organiza, representa
e interpreta datos en tablas o

pictogramas para responder preguntas de su interés.
      </td>
    </tr>
  </table>
</div>