 <div class="body">
 <h1 class="he">🌟 Programa Académico de Matemáticas 1° de Primaria 🌟</h1>

  <table>
    <tr>
      <th>Contenidos</th>
      <th>Procesos de desarrollo de aprendizaje</th>
    </tr>

    <tr>
      <td class="contenido">Estudio de los números</td>
      <td>
        Expresa oralmente la sucesión
numérica en su lengua materna
y en español, primero hasta 20,
luego hasta 40, posteriormente
hasta 60 y finalmente hasta 120
elementos, o hasta donde sea
posible en su lengua materna,

de manera ascendente y descendente a partir de un número

dado.

A través de situaciones cotidianas, cuenta, ordena, representa

de diferentes formas, interpreta,

lee y escribe la cantidad de elementos de una colección, primero de hasta 5, después hasta

de 10 y paulatinamente de hasta
100 elementos.
Identifica regularidades en la
sucesión numérica hasta 100.
      </td>
    </tr>

    <tr>
      <td class="contenido">Construcción de la noción de suma y resta</td>
      <td>
       Reconoce, a partir de la resolución de situaciones que implican

agregar, quitar, juntar, comparar
y completar, que la suma es el
total de dos o más cantidades y

la resta, como la pérdida de elementos en una colección.

Resuelve problemas vinculados a su contexto que implican

sumas o restas (sin hacer uso
del algoritmo convencional) con
cantidades de hasta dos dígitos;
representa de diversas formas

(material concreto, representaciones gráficas) sumas y restas,

incluyendo los signos “+”, “−”, “=” y
numerales.
      </td>
    </tr>

    <tr>
      <td class="contenido">Cuerpos geométricos y sus características</td>
      <td>
        Observa y manipula objetos
de su entorno para identificar

y describir líneas rectas o curvas, caras planas o curvas; los

representa mediante diversos
procedimientos.
      </td>
    </tr>

    <tr>
      <td class="contenido">Figuras geométricas y sus características</td>
      <td>
        Representa animales, plantas u
objetos utilizando el tangram y
otras figuras geométricas, para
reconocer y describir oralmente y

por escrito sus nombres y propiedades (forma y número de lados

y vértices), utilizando paulatinamente un lenguaje formal para

referirse a ellas
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición de longitud, masa y capacidad</td>
      <td>
       Compara la longitud de objetos
de manera directa e indirecta
con apoyo de un intermediario
(objetos o partes de su cuerpo);
determina cuál es el mayor, el
menor o si son iguales y expresa
el resultado de la comparación

en su lengua materna y en español, con dibujos y numerales.

Sopesa objetos para estimar
cuál tiene mayor o menor masa;
comprueba su estimación con el
apoyo de una balanza.
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición del tiempo</td>
      <td>
        Utiliza términos como antes,
después, hoy, ayer, mañana,
etc., en su lengua materna y en
español, para describir y registrar
cronológicamente actividades
en un periodo determinado (día,
semana, mes) con el apoyo de
calendarios; reconoce que la
semana está integrada por siete
días que ocurren cíclicamente.
      </td>
    </tr>

    <tr>
      <td class="contenido">Organización e Interpretación de Datos</td>
      <td>
        Elabora registros de datos
mediante distintos recursos
como pictogramas o tablas
para responder preguntas de su
interés.
      </td>
    </tr>
  </table>
</div>