 <div class="body">
 <h1 class="he">🌟 Programa Académico de Matemáticas 3° de Primaria 🌟</h1>

  <table>
    <tr>
      <th>Contenidos</th>
      <th>Procesos de desarrollo de aprendizaje</th>
    </tr>

    <tr>
      <td class="contenido">Estudio de los números</td>
      <td>
      Expresa oralmente la sucesión
numérica hasta cuatro cifras,
en español y hasta donde sea
posible, en su lengua materna,

de manera ascendente y descendente a partir de un número

natural dado.

Identifica y usa los números ordinales, en español y en su lengua

materna para ordenar objetos

o para indicar el lugar que ocupan dentro de una colección de

hasta diez elementos.<br><br>

A través de situaciones cotidianas cuenta, representa de dife-rentes formas, interpreta, ordena,

lee y escribe números naturales
de hasta cuatro cifras; identifica
regularidades en los números

que representan decenas, centenas y millares.<br><br>

Representa, con apoyo de material concreto y modelos gráficos,

fracciones: medios, cuartos, octavos, dieciseisavos, para expresar

el resultado de mediciones y

repartos en situaciones vinculadas a su contexto.

Identifica la unidad de referencia
en representaciones de medios,
cuartos, octavos, dieciseisavos
que expresan el resultado de
mediciones y repartos.<br><br>
Propone expresiones aditivas
equivalentes de medios, cuartos,
octavos o dieciseisavos; también
compara fracciones (con igual

numerador o igual denomi-
nador) utilizando los signos >

(mayor que), < (menor que) o =
(igual).
Conoce y usa las fracciones 1/10
y 1/100 con el apoyo del metro
graduado.
      </td>
    </tr>

    <tr>
      <td class="contenido">Construcción de la noción de suma y resta</td>
      <td>
      Resuelve situaciones problemáticas vinculadas a su contexto que implican sumas de

números naturales de hasta tres
cifras utilizando el algoritmo
convencional.<br><br>

Resuelve situaciones problemá-
ticas vinculadas a su contexto

que implican restas de números
naturales de hasta tres cifras
utilizando agrupamientos y el
algoritmo convencional.<br><br>
Utiliza, explica y comprueba sus

estrategias para calcular mentalmente sumas o restas de números naturales de hasta tres cifras.
<br><br>
Resuelve problemas de suma o
resta vinculados a su contexto,

que impliquen el uso de fracciones (medios, cuartos, octavos,

dieciseisavos), con el apoyo de

material concreto o representaciones gráficas.
      </td>
    </tr>
<td class="contenido">Construcción de la noción de multiplicación y división, y su relación como operaciones inversas.</td>
      <td>
        Resuelve multiplicaciones cuyo
producto es un número natural
de tres cifras, mediante diversos

procedimientos (suma de multiplicaciones parciales, multiplicaciones por 10, 20, 30, entre otros).
<br><br>
Resuelve situaciones problemáticas vinculadas a su contexto

que implican divisiones (reparto
y agrupamiento), mediante
diversos procedimientos, en
particular con la multiplicación;
representa la división como: a ÷
b = c.<br><br>
Construye y usa un repertorio
multiplicativo de factores de una

cifra, para resolver multiplicaciones y divisiones (cuántas veces

está contenido el divisor en el
dividendo).<br><br>
Utiliza, explica y comprueba sus

estrategias para calcular mentalmente productos de números

naturales de una cifra.
    </tr>
    <tr>
      <td class="contenido">Cuerpos geométricos y sus características</td>
      <td>
       Identifica las figuras geométricas que componen diversos

objetos (edificios, casas, cajas,

muebles, y cuerpos geométricos); construye prismas rectos a

partir de reconocer la configuración de cuadrados y rectángulos

que lo componen.
      </td>
    </tr>

    <tr>
      <td class="contenido">Figuras geométricas y sus características</td>
      <td>
        A partir de retículas de triángulos, cuadrados o puntos, construye, analiza y clasifica figuras

geométricas a partir de sus lados
y su simetría, en particular a los
triángulos; explica los criterios
utilizados para la clasificación.
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición de longitud, masa y capacidad</td>
      <td>
      Resuelve situaciones problemáticas vinculadas a su contexto

que impliquen, medición, estimación y comparación, de longitudes, masas y capacidades, con

el uso del metro, kilogramo, litro, medios y cuartos de estas unida-
des; en el caso de la longitud, el

decímetro y centímetro.
      </td>
    </tr>

    <tr>
      <td class="contenido">Medición del tiempo</td>
      <td>
        Lee relojes de manecillas y digitales; compara y ordena la duración de diferentes actividades

cotidianas o acontecimientos de
la comunidad, usando la hora,
media hora, cuarto de hora y los
minutos.
      </td>
    </tr>

    <tr>
      <td class="contenido">Organización e Interpretación de Datos</td>
      <td>
      Recolecta, organiza, representa e

interpreta datos en tablas de frecuencias o pictogramas para responder preguntas de su interés.
      </td>
    </tr>
  </table>
</div>