
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl/<%= username %>/botella">
          <img src="/images/botella.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">La Botella
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl/<%= username %>/balanza">
          <img src="/images/balanza.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >La Balanza</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_mcl/<%= username %>/co">
          <img src="/images/comparar.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Comparando objetos</p>
  </div>
 
    </div>
  </div>