
<div id="ejercicio">
    <div class="ep">
    <h1>Conociendo los cuerpos y figuras geométricas</h1>
</div>
    <div class="instructions">Une las palabras con su definición</div>

    <div class="ct">
        <svg id="lines"></svg>
        <div class="column" id="terms">
            <div class="item" data-pair="recta">Línea Recta</div>
            <div class="item" data-pair="curva">Línea Curva</div>
            <div class="item" data-pair="plana">Cara Plana</div>
            <div class="item" data-pair="curvatura">Cara Curva</div>
            <div class="item" data-pair="vertice">Vértice</div>
            <div class="item" data-pair="rectangulo">Rectángulo</div>
            <div class="item" data-pair="triangulo">Triángulo</div>
            <div class="item" data-pair="circulo">Círculo</div>
            <div class="item" data-pair="cuadrado">Cuadrado</div>
        </div>
        <div class="column" id="definitions">
            <div class="item" data-pair="triangulo">Es una figura con tres lados.</div>
            <div class="item" data-pair="cuadrado">Todos sus lados son iguales y tiene cuatro ángulos rectos.</div>
            <div class="item" data-pair="recta">Una línea que sigue una única dirección sin cambiar.</div>
            <div class="item" data-pair="curva">Una línea que cambia de dirección de manera continua.</div>
            <div class="item" data-pair="plana">Una superficie sin ondulaciones ni curvaturas.</div>
            <div class="item" data-pair="curvatura">Una superficie que no es plana y tiene una curvatura.</div>
            <div class="item" data-pair="vertice">Es el punto donde se encuentran dos líneas o más.</div>
            <div class="item" data-pair="circulo">No tiene esquinas y su forma es completamente redonda.</div>
            <div class="item" data-pair="rectangulo">Tiene lados opuestos iguales y cuatro ángulos rectos.</div>
        </div>
    </div>

    <button class="button" id="btnCalificar" onclick="calificarEjercicio()">Calificar Ejercicio</button>
    <button id="btnReintentar" class="button" onclick="reintentarEjercicio()" style="display: none;">Intentar de nuevo</button>
    <div id="result"></div>
</div>
