<div class="body">


    <h1>Resuelve las Restas</h1>
    <p class="ls">Da clic en la carta y responde la resta y descubrirás la imagen.</p>
    <div id="timer">Tiempo: 3:00</div>
  
    <div id="collage"></div>
  
    <div id="resultado">Calificación: 0/10</div>
    <div id="ganadas"></div>
    <button class="bn" id="reiniciarBtn" onclick="reiniciarEjercicio()">Intentar de nuevo</button>

    </div>