<div class="body">
    <div class="dm">
<h1 class="malt">Sumando  y Restando</h1>


<h2 class="sub">Resuelve las siguientes sumas y restas arrastrando el resultado correcto a la casilla:</h2>
</div>
  <div id="exercises"></div>
  <button id="submit">Calificar</button>
  <button id="retry" style="display: none;">Intentar de nuevo</button>
  <div id="score"></div>
</div> 