 <!-- Tabs de Bootstrap -->
  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">Tabla 1</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab">Tabla 2</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab">Tabla 3</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab">Tabla 4</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab">Tabla 5</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab">Tabla 6</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab7-tab" data-bs-toggle="tab" data-bs-target="#tab7" type="button" role="tab">Tabla 7</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab8-tab" data-bs-toggle="tab" data-bs-target="#tab8" type="button" role="tab">Tabla 8</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab9-tab" data-bs-toggle="tab" data-bs-target="#tab9" type="button" role="tab">Tabla 9</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab10-tab" data-bs-toggle="tab" data-bs-target="#tab10" type="button" role="tab">Tabla 10</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab11-tab" data-bs-toggle="tab" data-bs-target="#tab11" type="button" role="tab">Fiesta de las Frutas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab12-tab" data-bs-toggle="tab" data-bs-target="#tab12" type="button" role="tab">Globos</button>
    </li>
  </ul>

  <!-- Contenido de las pestañas -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      <table id="table1" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="tab2" role="tabpanel">
      <table id="table2" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab3" role="tabpanel">
      <table id="table3" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab4" role="tabpanel">
      <table id="table4" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab5" role="tabpanel">
      <table id="table5" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab6" role="tabpanel">
      <table id="table6" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab7" role="tabpanel">
      <table id="table7" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab8" role="tabpanel">
      <table id="table8" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab9" role="tabpanel">
      <table id="table9" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab10" role="tabpanel">
      <table id="table10" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab11" role="tabpanel">
      <table id="table11" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="tab12" role="tabpanel">
      <table id="table12" class="display table table-striped" style="width:100%">
         <thead>
          <tr>
            <th>ID</th>
            <th>Ejercicio</th>
            <th>Calificación</th>
            <th>Intento</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
