<h1>Dashboard de Rendimiento</h1>

<div style="text-align: center;">

<div>
  <canvas id="graficaEjercicios" width="1200" height="600"></canvas>
  <canvas id="graficaBarras" width="1200" height="300"></canvas>
  <canvas id="graficaIntentos" width="1200" height="300"></canvas>
</div>

<div style="margin-left: 50%">
  <button class="btn btn-primary py-2 px-4 d-none d-lg-block" onclick="descargarReporte()">Descargar reporte</button>
</div>

<br>