
<div class="body">

  <!-- Contenedor de recuadros -->
  <div class="contenedor">
    <div class="item">
    <!-- Recuadro 1 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros3/ema3">
        <img src="/images/1000.gif" alt="GIF 1">
      </a>
      </div>
      
      <p class="texto">Escribiendo los Números</p>
        
    </div>
    
    <div class="item">
    <!-- Recuadro 2 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros3/emd3">
        <img src="/images/2000.gif" alt="GIF 2">
      </a>
    </div>
    <p class="texto" >Escribiendo los Números Parte 2 </p>
    </div>
    <!-- Recuadro 3 -->
    <div class="item">
    <div class="recuadro">
      <a href="/ejercicios_numeros3/mercado3">
        <img src="/images/mercado.gif" alt=" GIF 3">
      </a>
    </div>
    <p class="texto">Vamos al <br> Mercado</p>
</div>
<div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros3/caja3">
        <img src="/images/caja.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Caja <br> Misteriosa</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros3/tren3">
        <img src="/images/tren.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">El Tren <br> de los Números</p>
  </div>
  <div class="item">
    <!-- Recuadro 4 -->
    <div class="recuadro">
      <a href="/ejercicios_numeros3/en3">
        <img src="/images/diez.gif" alt="GIF 4">
      </a>
    </div>

    <p class="texto">Encontrando <br> Números</p>
  </div>
  </div>
</div>