
<div class="body">
  <h1>Juego de Memorama</h1>
  <div id="tiempo">Tiempo restante: 3:00</div>
  <div id="memorama"></div>
  <div id="pares">
    <div class="lado" id="ladoIzquierdo"><strong>Pares encontrados:</strong><br /></div>
    <div class="lado" id="ladoDerecho"></div>
  </div>
  <div id="estado">Intentos restantes: <span id="intentos">5</span></div>
  <button id="reiniciar" onclick="reiniciarJuego()">Intentar de nuevo</button>
  
  <audio id="audioCorrecto" src="https://www.soundjay.com/buttons/sounds/button-4.mp3"></audio>
  <audio id="audioIncorrecto" src="https://www.soundjay.com/buttons/sounds/button-10.mp3"></audio>
  </div>