<div class="body">
    <h1>♫ La Escalera Mágica Ascendente</h1>
<h2>Escucha el número y escribe la sucesión de forma ascendente dejando un espacio entre cada número</h2>


<div class="exercise" id="ex20">
  <h3 class="t3">Ejercicio 1</h3>
  <p class="t4">Escucha el número:</p>
  <audio controls>
    <source src="https://www.spanishlistening.org/audio/numbers/numbers20.mp3" type="audio/mpeg">
    Tu navegador no soporta el audio.
  </audio>
  <p class="t5">Escribe la sucesión del 1 al número que escuchaste</p>
  <input class="rs" type="text" id="input20">
  <button class="bn" onclick="checkSequence(20)">Verificar</button>
  <div class="result" id="result20"></div>
</div>

<div class="exercise" id="ex30">
  <h3 class="t3">Ejercicio 2</h3>
  <p class="t4">Escucha el número:</p>
  <audio controls>
    <source src="https://www.spanishlistening.org/audio/numbers/numbers30.mp3" type="audio/mpeg">
    Tu navegador no soporta el audio.
  </audio>
  <p class="t5">Escribe la sucesión del 1 al número que escuchaste</p>
  <input class="rs" type="text" id="input30">
  <button class="bn" onclick="checkSequence(30)">Verificar</button>
  <div class="result" id="result30"></div>
</div>

<div class="exercise" id="ex40">
  <h3 class="t3">Ejercicio 3</h3>
  <p class="t4">Escucha el número:</p>
  <audio controls>
    <source src="https://www.spanishlistening.org/audio/numbers/numbers40.mp3" type="audio/mpeg">
    Tu navegador no soporta el audio.
  </audio>
  <p class="t5">Escribe la sucesión del 1 al número que escuchaste</p>
  <input class="rs" type="text" id="input40">
  <button class="bn" onclick="checkSequence(40)">Verificar</button>
  <div class="result" id="result40"></div>
</div>

<div class="exercise" id="ex50">
  <h3 class="t3">Ejercicio 4</h3>
  <p class="t4">Escucha el número:</p>
  <audio controls>
    <source src="https://www.spanishlistening.org/audio/numbers/numbers50.mp3" type="audio/mpeg">
    Tu navegador no soporta el audio.
  </audio>
  <p class="t5">Escribe la sucesión del 1 al número que escuchaste</p>
  <input class="rs" type="text" id="input50">
  <button class="bn" onclick="checkSequence(50)">Verificar</button>
  <div class="result" id="result50"></div>
</div>

<div id="finalScore"></div>
<button class="bn"  id="retryBtn" onclick="retry()">Volver a intentar</button>
</div>