<div class="body">

    <div class="container">
        <h1>La fiesta de los ratones, caballos y dragones</h1>
        <p>Resuelve los siguientes ejercicios:</p>

        <!-- Ejercicio Ratones -->
        <div class="grupo">
            <div>
                <h3>Ratones en la fiesta:</h3>
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <img src="/images/raton.png" alt="Ratón 1">
                <img src="/images/raton1.png" alt="Ratón 2">
                <!-- Agrega más imágenes según sea necesario -->
            </div>
            <div>
                <h3>Ratones se van de la fiesta:</h3>
                <img src="/images/raton1.png" alt="Ratón 1">
                <img src="/images/raton.png" alt="Ratón 2">
                <img src="/images/raton1.png" alt="Ratón 1">
                <img src="/images/raton.png" alt="Ratón 2">
                <!-- Agrega más imágenes según sea necesario -->
            </div>
        </div>
        <p>¿Cuántos ratones quedan en la fiesta?</p>
        <input  class="input" type="text" id="respuestaRatones" placeholder="Escribe el total de ratones">

        <!-- Ejercicio Caballos -->
        <div class="grupo">
            <div>
                <h3>Caballos en la fiesta:</h3>
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                
               
                <!-- Agrega más imágenes según sea necesario -->
            </div>
            <div>
                <h3>Caballos se van de la fiesta:</h3>
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <img src="/images/caballo1.png" alt="Caballo 2">
                <img src="/images/caballo.png" alt="Caballo 1">
                <!-- Agrega más imágenes según sea necesario -->
            </div>
        </div>
        <p>¿Cuántos caballos quedan en la fiesta?</p>
        <input class="input" type="text" id="respuestaCaballos" placeholder="Escribe el total de caballos">

        <!-- Ejercicio Dragones -->
        <div class="grupo">
            <div>
                <h3>Dragones en la fiesta:</h3>
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                
                <!-- Agrega más imágenes según sea necesario -->
            </div>
            <div>
                <h3>Dragones se van de la fiesta:</h3>
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                <img src="/images/dragon.png" alt="Dragón 1">
                <img src="/images/dragon1.png" alt="Dragón 2">
                <img src="/images/dragon.png" alt="Dragón 3">
                <img src="/images/dragon1.png" alt="Dragón 4">
                
                <!-- Agrega más imágenes según sea necesario -->
            </div>
        </div>
        <p>¿Cuántos dragones quedan en la fiesta?</p>
        <input class="input" type="text" id="respuestaDragones" placeholder="Escribe el total de dragones">

        <button  class="but" id="verificarBtn">Verificar Respuestas</button>
        <div id="resultado"></div>
        <div id="calificacion"></div>
        <div id="intentarOtro" style="display:none;">
            <button  class="but" id="intentarBtn">Hacer otro intento</button>
        </div>

    </div>