
<div class="body">
    <div class="container">
        <h1 class="h1">El picnic de los conejitos, vacas y perros</h1>
        Resuelve los siguientes ejercicios:

        <!-- Ejercicio Conejitos -->
        <div class="grupo">
            <div>
                <h3 class="c1">Conejitos en el campo:</h3>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 1">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 2">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 3">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 4">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 5">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 6">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 7">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Bugs_Bunny.svg/1200px-Bugs_Bunny.svg.png" alt="Conejo 8">
            </div>
            <div>
                <h3 class="c1">Conejitos que llegan al picnic:</h3>
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 9">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 10">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 11">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 12">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 13">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 14">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 15">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 16">
                <img src="https://www.pngkey.com/png/full/113-1136501_characterart-lola-lt-box-bunny-bunny-looney-tunes.png" alt="Conejo 17">
            </div>
        </div>
        <p>¿Cuántos conejitos hay en total?</p>
        <input class="input" type="text" id="respuestaConejitos" placeholder="Escribe el total de conejitos">

        <!-- Ejercicio Vacas -->
        <div class="grupo">
            <div>
                <h3 class="c1">Vacas en el campo:</h3>
                <img src="/images/vaca1.webp" alt="Vaca 1">
                <img src="/images/vaca1.webp" alt="Vaca 2">
                <img src="/images/vaca1.webp" alt="Vaca 3">
                <img src="/images/vaca1.webp" alt="Vaca 4">
                <img src="/images/vaca1.webp" alt="Vaca 5">
                <img src="/images/vaca1.webp" alt="Vaca 5">
                <img src="/images/vaca1.webp" alt="Vaca 5">
            </div>
            <div>
                <h3 class="c1">Vacas que llegan al campo:</h3>
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">
                <img src="/images/vaca2.webp" alt="Vaca 6">

            </div>
        </div>
        <p>¿Cuántas vacas hay en total?</p>
        <input class="input" type="text" id="respuestaVacas" placeholder="Escribe el total de vacas">

        <!-- Ejercicio Perros -->
        <div class="grupo">
            <div>
                <h3 class="c1">Perros en el campo:</h3>
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
                <img src="/images/perro.webp" alt="Perro 1">
               
            </div>
            <div>
                <h3 class="c1">Perros que llegan al picnic:</h3>
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhHUKxjSCfS_tMb5irbwxEiUd3PaBG70XCeczDx0gT4Jk8CBpeg4EzpC3NSw2WUu1lI1J0uzkwsgft8tMtIhB1N5h7v3UehkTQRIQDf-7_p0I-yDOKG6zLyvlXdt-yM7Yz2uTJcOPAbBeVa/s1600/Cp-tramp.png" alt="Perro 6">
            </div>
        </div>
        <p class="p2">¿Cuántos perros hay en total?</p>
        <input class="input" type="text" id="respuestaPerros" placeholder="Escribe el total de perros">

        <button class="button" id="verificarBtn">Verificar Respuestas</button>
        <div id="resultado"></div>
        <div id="calificacion"></div>
        <div id="intentarOtro" style="display:none;">
            <button  id="intentarBtn">Hacer otro intento</button>
        </div>

      
    </div>
</div>
