<div class="body">
    <div class="cl">
    <h1>Ejercicio del Ladrón:</h1>
    <h2>Un ladrón robo algunos objetos de ciertos lugares , identifica cuales y cuántos robo</h2>
    <h3 >Indicaciones: Elimina  Objetos según sea necesario para completar las Restas haciendo doble clik sobre el boton de eliminar</h3>
</div>
    <div id="inciso1">
        <div class="jr">
        <h3>1. En el campo de futbol había 30 balones. ¿Cuántas pelotas se llevo el ladron si quedaron 14?</h3>
    </div>
        <div class="contenedor">
            <div class="recuadro" id="recuadro1" ondrop="drop(event, 'recuadro1', 16)" ondragover="allowDrop(event)">
                <!-- 30 pelotas ya agregadas aquí -->
                <!-- Agregar 30 pelotas al inicio -->
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota1">
               
                <!-- Repite este patrón para las 30 pelotas -->
            </div>
            <div class="lado">
                <img src="https://images.vexels.com/media/users/3/158542/isolated/preview/a584351ad747068aff8e83ed254a8384-ilustracion-de-pelota-de-futbol.png" class="item" id="pelota" draggable="true" ondragstart="drag(event)">
                <p>Arrastra pelotas</p>
                <button class="boton-eliminar" onclick="eliminarElemento('recuadro1')">Eliminar elemento</button>
            </div>
        </div>
    </div>

    <div id="inciso2">
        <div class="jr">
        <h3>2. Había 33 trenes en el depósito. ¿Cuántos trenes quedaron si el ladrón se llevo 24?</h3>
    </div>
        <div class="contenedor">
            <div class="recuadro1" id="recuadro2" ondrop="drop(event, 'recuadro2', 9)" ondragover="allowDrop(event)">
                <!-- 33 trenes ya agregados aquí -->
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren1">
              
               

                
                <!-- Repite este patrón para los 33 trenes -->
            </div>
            <div class="lado">
                <img src="https://cdn-icons-png.flaticon.com/512/658/658433.png" class="item" id="tren" draggable="true" ondragstart="drag(event)">
                <p>Arrastra trenes</p>
                <button class="boton-eliminar" onclick="eliminarElemento('recuadro2')">Eliminar elemento</button>
            </div>
        </div>
    </div>

    <div id="inciso3">
        <div class="jr">
        <h3>3. Había 40 balones de basketball en el gimnasio. ¿Cuántas pelotas se llebo el ladron si ahora solo hay 28?</h3>
        </div>
        <div class="contenedor">
            <div class="recuadro2" id="recuadro3" ondrop="drop(event, 'recuadro3', 12)" ondragover="allowDrop(event)">
                <!-- 40 pelotas de baloncesto ya agregadas aquí -->
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket1">
                
                <!-- Repite este patrón para las 40 pelotas -->
            </div>
            <div class="lado">
                <img src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-icono-de-pelota-de-baloncesto.png" class="item" id="balon_basket" draggable="true" ondragstart="drag(event)">
                <p>Arrastra objetos</p>
                <button class="boton-eliminar" onclick="eliminarElemento('recuadro3')">Eliminar elemento</button>
            </div>
        </div>
    </div>

    <div id="inciso4">
        <div class="jr">
        <h3>4. En el estacionamiento había  22 carros . ¿Si se robaron 15, cuántos carros quedaron?</h3>
        </div>
        <div class="contenedor">
            <div class="recuadro3" id="recuadro4" ondrop="drop(event, 'recuadro4', 7)" ondragover="allowDrop(event)">
                <!-- 22 carros ya agregados aquí -->
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro1">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro2">
                <!-- Repite este patrón para los 22 carros -->
            </div>
            <div class="lado">
                <img src="https://www.publicdomainpictures.net/pictures/560000/nahled/cartoon-auto-voertuig-png-1701820589JBZ.png" class="item" id="carro" draggable="true" ondragstart="drag(event)">
                <p>Arrastra carros</p>
                <button class="boton-eliminar" onclick="eliminarElemento('recuadro4')">Eliminar elemento</button>
            </div>
        </div>
    </div>

    <div id="inciso5">
        <div class="jr">
        <h3>5. En una caja habia 38 lapices. ¿Cuántos lápices quedaron si se robaron 17 ?</h3>
        </div>
        <div class="contenedor">
            <div class="recuadro4" id="recuadro5" ondrop="drop(event, 'recuadro5', 21)" ondragover="allowDrop(event)">
                <!-- 38 lápices ya agregados aquí -->
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz1">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz2">
                
                <!-- Repite este patrón para los 38 lápices -->
            </div>
            <div class="lado">
                <img src="https://png.pngtree.com/png-clipart/20250309/original/pngtree-cute-animated-pencil-with-a-happy-face-for-kids-and-education-png-image_20616024.png" class="item" id="lapiz" draggable="true" ondragstart="drag(event)">
                <p>Arrastra lápices</p>
                <button class="boton-eliminar" onclick="eliminarElemento('recuadro5')">Eliminar elemento</button>
            </div>
        </div>
    </div>

    <div class="boton">
        <button  class="but" id="verificarBtn" onclick="verificar()">Verificar Respuestas</button>
        
    </div>

    <div class="mensaje" id="mensaje"></div>
  
</div>