
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo2/<%= username %>/historia" >
          <img src="/images/martin.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">La Historia de Martin</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo2/<%= username %>/ct2">
          <img src="/images/cal.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Conociendo el tiempo</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_tiempo2/<%= username %>/calendario">
          <img src="/images/iti.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">El Calendario</p>
  </div>
 
    </div>
  </div>