<div class="body">
  
  <!-- Barra de navegaci칩n -->
  <div id="nb">
    <header>Organizaci칩n de Datos</header>
    <ul>
      <li class="li"><a href="#Pictogramas" class="nb-link">Pictogramas</a></li>
      <li class="li"><a href="#Tablas" class="nb-link">Tablas de Datos</a></li>
      <li class="li"><a href="#Ejemplo_de_Registro" class="nb-link">Ejemplo de Registro</a></li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div id="main-doc">

    <!-- Secci칩n: Pictogramas -->
    <section class="main-section" id="Pictogramas">
      <header>Pictogramas con Emojis</header>
      <p>Un pictograma es un gr치fico que usa im치genes o emojis para representar datos. Aqu칤 te mostramos un ejemplo de c칩mo puedes organizar la informaci칩n utilizando emojis.</p>
      
      <div class="code-example">
        <p>Ejemplo: <strong>Preferencia de frutas en la clase:</strong></p>
        <ul>
          <li class="li">游꼝 Manzana: 105 estudiantes</li>
          <li class="li">游꼛 Pl치tano: 68 estudiantes</li>
          <li class="li">游꼜 Pi침a: 53 estudiantes</li>
          <li class="li">游꼡 Fresa: 46 estudiantes</li>
        </ul>
        <p>En este caso, cada emoji representa una fruta y la cantidad de estudiantes que prefieren esa fruta. Se puede ver de manera f치cil que la manzana es la fruta m치s popular.</p>
      </div>
    </section>

    <!-- Secci칩n: Tablas -->
    <section class="main-section" id="Tablas">
      <header>Tablas de Datos</header>
      <p>Las tablas permiten organizar datos de manera m치s clara. A continuaci칩n, tenemos una tabla con las preferencias de frutas en la clase.</p>

      <table border="1" cellpadding="10" cellspacing="0">
        <tr>
          <th>Fruta</th>
          <th>Estudiantes</th>
        </tr>
        <tr>
          <td>游꼝 Manzana</td>
          <td>105</td>
        </tr>
        <tr>
          <td>游꼛 Pl치tano</td>
          <td>68</td>
        </tr>
        <tr>
          <td>游꼜 Pi침a</td>
          <td>53</td>
        </tr>
        <tr>
          <td>游꼡 Fresa</td>
          <td>46</td>
        </tr>
      </table>

      <div class="code-example">
        <p>Observando la tabla podemos ver que la manzana es la fruta que m치s prefieren los estudiantes, seguida por el pl치tano y la pi침a.</p>
      </div>
    </section>

    <!-- Secci칩n: Ejemplo de Registro -->
    <section class="main-section" id="Ejemplo_de_Registro">
      <header>Ejemplo de Registro de Datos</header>
      <p>A continuaci칩n, realizamos un ejercicio en el que registramos la cantidad de animales en una granja utilizando pictogramas y tablas.</p>

      <div class="code-example">
        <p><strong>Granja de Animales:</strong></p>
        <ul>
          <li class="li">游냤 Perros: 89</li>
          <li class="li">游냠 Gatos: 54</li>
          <li class="li">游냆 Gallinas: 132</li>
          <li class="li">游낷 Vacas: 72</li>
        </ul>

        <table border="1" cellpadding="10" cellspacing="0">
          <tr>
            <th>Animal</th>
            <th>Cantidad</th>
          </tr>
          <tr>
            <td>游냤 Perros</td>
            <td>89</td>
          </tr>
          <tr>
            <td>游냠 Gatos</td>
            <td>54</td>
          </tr>
          <tr>
            <td>游냆 Gallinas</td>
            <td>132</td>
          </tr>
          <tr>
            <td>游낷 Vacas</td>
            <td>72</td>
          </tr>
        </table>
      </div>

      <p><strong>Pregunta:</strong> 쮺u치l es el animal m치s numeroso en la granja? 쯏 el menos numeroso?</p>
      <div class="code-example">
        <p><strong>Respuesta:</strong> El animal m치s numeroso es la gallina (132). El menos numeroso son los gatos (54).</p>
      </div>
    </section>

  </div>
</div>
