
<div class="body">

  <!-- Contenedor de recuadros -->
  <div class="contenedor">
    <div class="item">
    <!-- Recuadro 1 -->
    <div class="recuadro">
      <a href="/ejercicios_datos3/insectos3" >
        <img src="/images/catarina.webp" alt="GIF 1">
      </a>
      </div>
      
      <p class="texto">Conteo de Insectos</p>
        
    </div>
    
    <div class="item">
    <!-- Recuadro 2 -->
    <div class="recuadro">
      <a href="/ejercicios_datos3/animales3">
        <img src="/images/animales.gif" alt="GIF 2">
      </a>
    </div>
    <p class="texto" >Conteo de Animales</p>
    </div>
    <!-- Recuadro 3 -->
    <div class="item">
    <div class="recuadro">
      <a href="/ejercicios_datos3/jardin" >
        <img src="/images/jardin.gif" alt=" GIF 3">
      </a>
    </div>
    <p class="texto">El jardín</p>
</div>

  </div>
</div>