
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras3/def3" >
          <img src="/images/figuras.png" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Conociendo los Cuerpos <br>y Figuras Geométricas
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras3/triangulos" >
          <img src="/images/triangulos.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Los Triangulos</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_figuras3/lados3" >
          <img src="/images/clasi.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Clasificando Figuras</p>
  </div>
  <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras3/memorama3" >
          <img src="/images/memorama.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">El Memorama</p>
    </div>
    </div>
  </div>