<div class="body">
    <h1 class="he">Reparte los globos 🎈</h1>
  <div id="instruction">Arrastra los <strong>18 globos</strong> a las <strong>6 mesas</strong> para que todas tengan la misma cantidad.</div>

  <div id="balloons"></div>
  <div id="tables"></div>

  <button id="check">Verificar</button>
  <div id="message"></div>
</div>