<div class="body">


  <!-- Barra de navegaci贸n -->

  <div id="nb">
    <header>Multiplicaci贸n y divisi贸n tecer grado</header>

    <ul>

      <li class="li"><a href="#Estudio_de_las_Multiplicaciones_y_divisiones" class="nb-link">Estudio de la multiplicaci贸n y la divisi贸n</a></li> 

      <li class="li"><a href="#Mult_Agregar" class="nb-link">1. Multiplicar: Agregar</a></li>

      <li class="li"><a href="#Div_Quitar" class="nb-link">2. Dividir: Quitar</a></li>

      <li class="li"><a href="#Problemas_Division_Multiplicacion" class="nb-link">3. Problemas con Multiplicaci贸n y Divisi贸n</a></li>

      <li class="li"><a href="#Recta_Numerica" class="nb-link">4. Multiplicaci贸n y divisi贸n en la Recta Num茅rica</a></li>

    </ul>
</div>



  <!-- Contenido principal -->

  <div id="main-doc">



    <!-- Secci贸n 1: Estudio de la multiplicaci贸n y la divisi贸n -->

    <section class="main-section" id="Estudio_de_las_Multiplicaciones_y_divisiones">

      <header>Estudio de la multiplicaci贸n y la divisi贸n</header>

      <p>La multiplicaci贸n y division son similares a la suma y la resta, funcionan para agregar o comparar cuantas cosas caben dentro de otra.</p>

      <div class="code-example">

        <p>Ejemplo de multiplicaci贸n: 50 x 10 = 5000</p>

        <p>Ejemplo de divisi贸n: 9000 梅 30 = 300</p>

      </div>

      <p>En esta secci贸n, aprenderemos c贸mo hacer multiplicaciones y divisiones con n煤meros de hasta cuatro cifras, y c贸mo aplicarlas a situaciones cotidianas.</p>

    </section>



    <!-- Secci贸n 2: Mult - Agregar -->

    <section class="main-section" id="Mult_Agregar">

      <header>Multiplicar: Agregar</header>

      <p>La multiplicaci贸n es cuando queremos sumar algo una cantidad de veces exacta para que se agreguen en cantidades iguales, incluyendo las que originalmente teniamos.</p>

      <div class="code-example">

        <p>Ejemplo: Tienes 10 a帽os, cada a帽o tiene 365 d铆as, entonces tienes 3650 d铆as desde que naciste.</p>

      </div>

      <ul>

        <li class="li"><strong>Definici贸n:</strong> La multiplicaci贸n es agregar un mismo numero de cosas muchas veces.</li>

        <li class="li"><strong>Ejemplo:</strong> Si caminas 1500 pasos al d铆a y caminas 5 d铆as a la semana, la multiplicaci贸n es 1500 x 5 = 6250 pasos a la semana.</li>

        <li class="li"><strong>Representaci贸n visual:</strong> 1500 pasos x 5 pasos = 6250 pasos.</li>

        <li class="li"><strong>Importancia:</strong> La multiplicaci贸n se utiliza para agregar cosas o contar elementos de manera m谩s rapida cuando se encuentran en grupos de tama帽os iguales.</li>

      </ul>

    </section>



    <!-- Secci贸n 3: Divisi贸n - Quitar -->

    <section class="main-section" id="Div_Quitar">

      <header>Dividir: separar</header>

      <p>La divisi贸n es cuando comparamos cuantos objetos podemos tener en un objeto diferente o repartir a otro objeto, se puede hacer con sumas o restas.</p>

      <div class="code-example">

        <p>Ejemplo: Tienes 100 piedras y 5 mochilas, 驴Cuantas podemos poner en cada mochila?. Se resuelve de la siguiente manera 100 梅 5 = 20, es decir que si sumamos 5 un total de 20 veces obtenemos 100 .</p>

      </div>

      <ul>

        <li class="li"><strong>Definici贸n:</strong> La divisi贸n es la accion de separar grupos de objetos en otros de distintos tama帽os.</li>

        <li class="li"><strong>Ejemplo:</strong> Si tienes 80 galletas y las repartes entre 40 amigos, le tocan 2 galletas a cada amigo.</li>

        <li class="li"><strong>Representaci贸n visual:</strong> 80  梅 40  = 2 .</li>

        <li class="li"><strong>Importancia:</strong> La divisi贸n se usa para repartir objetos en otros de distintos tama帽os.</li>

      </ul>

    </section>



    <!-- Secci贸n 4: Problemas con Sumas y Restas -->

    <section class="main-section" id="Problemas_Division_Multiplicacion">

      <header>Problemas con Multuplicaci贸n y Divisi贸n</header>

      <p>En este apartado, aprenderemos a resolver problemas que implican Divisi贸n y Multiplicaci贸n. Resolveremos situaciones en las que necesitamos usar multipliacr o dividir, como en la vida cotidiana.</p>

      <div class="code-example">

        <p>Ejemplo: Compras 50 chocolates y te regalan 15 por el mismo precio. 驴Cu谩ntos chocolates tienes ahora?</p>

        <p>Soluci贸n: 50 * 15 = 625 chocolates.</p>

      </div>

      <ul>

        <li class="li"><strong>Problema de multiplicaci贸n:</strong> Juan tiene un coche que vale 5000 pesos. su precio crece 10 veces. 驴Cuantos cuesta ahora su coche? Respuesta: 5000 x 10 = 50000 pesos.</li>

        <li class="li"><strong>Problema de Division:</strong> Maria tiene 60 pesos. Quiere comprar 10 helados. 驴Cuanto debe costar cada helado? Respuesta: 60 梅 10 = 6 pesos cada una.</li>

      </ul>

    </section>



    <!-- Secci贸n 5: Suma y Resta en la Recta Num茅rica -->

    <section class="main-section" id="Recta_Numerica">

      <header>Multiplicaci贸n y Divisi贸n en la Recta Num茅rica</header>

      <p>En la recta num茅rica, la multiplicaci贸n se representa avanzando hacia la derecha en una cantidad de posiciones especifica, y la divisi贸n se representa ya sea moviendose a la izquierda una cantidad de posiciones que depende de nuestra posici贸n actual o inclusive a la derecha de la misma manera.</p>

      <div class="code-example">

        <p>Ejemplo: Si est谩s en el n煤mero 1200 en la recta num茅rica lo multiplicas 7 veces, llegar谩s al n煤mero 8400 pues tienes que sumar 1200 un total de 7 veces.</p>

      </div>

      <ul>

        <li class="li"><strong>Definici贸n:</strong> La recta num茅rica es una l铆nea en la que podemos ver y entender las operaciones de multiplicaci贸n y divisi贸n.</li>

        <li class="li"><strong>Ejemplo:</strong> Si comienzas en el n煤mero 90 y tienes que regresar a una posici贸n igual a la mitad de tu posici贸n actual, llegarias a la posici贸n 45, debido a que 90 梅 2 = 45.</li>

        <li class="li"><strong>Representaci贸n visual:</strong> (Multiplicaci贸n) 1200 ★ 2400 ★ 3600 ...  ★ 8400 , (Divisi贸n) 90 猬锔 45.</li>

        <li class="li">Las divisiones se pueden ver de la siguiente manera tambien <upper>90</upper>/<under>2</under> Que se conoce como Fracci贸n</li>

      </ul>

      <ul>

        <li class="li">

          Consejos:

          Al realizar estas multilicaciones es recomendable comenzar escribiendolas hasta que puedas hacer varias sin necesidad de escribir, por ejemplo:

          50 multiplicado por cualquier n煤mero es lo mismo que 5 x N煤mero x 10, de la misma manera 20, 30, 60, etc.

          100 multiplicado por cualquier n煤mero es lo mismo que 1 x N煤mero x 100, de la misma manera 200, 300, 600, etc.

          1000 multiplicado por cualquier n煤mero es lo mismo que 1 x N煤mero x 1000, de la misma manera 200, 300, 600, etc.

          2000x25 es lo mismo que 2 x 25 x 1000.

        </li>

      </ul>

    </section>



</div>

</div>