<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style_login.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.png">
    <title>Numboland</title>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <img src="images/logo1.png" class="logo" style="height: 200px;" width="200px">
            <div class="form-container">
                <div class="login-container">
                    <h1>Inicia Sesión</h1>
                    <form>
                        <div class="mb-3 input-group">
                            <span class="input-group-text icon"><img src="images/ico_person.png"></span>
                            <input type="text" class="form-control" placeholder="Ingrese Usuario" aria-label="Usuario">
                        </div>
                        <div class="mb-3 input-group">
                            <span class="input-group-text icon"><img src="images/ico_key.png"></span>
                            <input type="password" class="form-control" placeholder="Ingrese Contraseña" aria-label="Contraseña">
                        </div>
                        <input id="btn-submit" class="btn-primary button-rounded" type="button" value="Ingresar" style="cursor:pointer;">
                    </form>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <span>
                Plataforma digital para el reforzamiento<br>				
                de los conocimientos matematicos<br>
                en niños de primaria desde 1° hasta 3° grado<br>
                v1.0
            </span>
        </div>
    </div>
    
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
