<div class="body">
   
<h1 class="he">¿Qué se celebra en cada mes en México?</h1>

<div class="respuesta-bar" id="respuestaBar">
  <div class="respuesta" draggable="true">Día de Reyes y Año Nuevo</div>
  <div class="respuesta" draggable="true">Día de San Valentín y Día de la Bandera</div>
  <div class="respuesta" draggable="true">Natalicio de Benito Juárez</div>
  <div class="respuesta" draggable="true">Semana Santa y Día del Niño</div>
  <div class="respuesta" draggable="true">Día del Trabajo y Batalla de Puebla</div>
  <div class="respuesta" draggable="true">Día del Padre</div>
  <div class="respuesta" draggable="true">Vacaciones de Verano</div>
  <div class="respuesta" draggable="true">Regreso a Clases</div>
  <div class="respuesta" draggable="true">Día de la Independencia de México</div>
  <div class="respuesta" draggable="true">Descubrimiento de América</div>
  <div class="respuesta" draggable="true">Día de Muertos y Revolución Mexicana</div>
  <div class="respuesta" draggable="true">Noche Buena y Navidad</div>
</div> 

<div class="calendario" id="calendario"></div>

<button class="bn" onclick="calificar()">Calificar</button>
<div id="resultado"></div>

  </div>