<div class="body">
    <h1>La Botella</h1>
    <h2>Llena las botellas correctamente, arrastrando los litros dentro de cada una hasta lograr la cantidad específica:</h2>
    <div class="draggables">
      <div class="draggable" draggable="true" data-value="1">1L</div>
      <div class="draggable" draggable="true" data-value="3">3L</div>
      <div class="draggable" draggable="true" data-value="5">5L</div>
      <div class="draggable" draggable="true" data-value="6">6L</div>
      <div class="draggable" draggable="true" data-value="8">8L</div>
      <div class="draggable" draggable="true" data-value="9">9L</div>
      <div class="draggable" draggable="true" data-value="10">10L</div>
      <div class="draggable" draggable="true" data-value="20">20L</div>
    </div>
  
    <div class="bottle-section" id="bottles"></div>
  
    <button class="bl" id="check">Verificar</button>
    <button class="bl" id="retry" style="display:none">Intentar de nuevo</button>
  
    <div id="score"></div>
    </div>