<div class="body">

    <div class="ct">
        <h2>1. Comparar la altura de los edificios</h2>
        <div class="image-row">
            <img src="https://static.vecteezy.com/system/resources/previews/039/143/409/non_2x/skyscraper-building-cartoon-style-free-png.png" alt="Edificio 1" class="image" data-size="small">
            <img src="https://static.vecteezy.com/system/resources/previews/039/143/409/non_2x/skyscraper-building-cartoon-style-free-png.png" alt="Edificio 2" class="image" data-size="large">
            <img src="https://static.vecteezy.com/system/resources/previews/039/143/409/non_2x/skyscraper-building-cartoon-style-free-png.png" alt="Edificio 3" class="image" data-size="medium">
        </div>
        <div class="rule"></div>
        <div class="answer-box">
            <label for="building">¿Cuál edificio es el más alto?</label>
            <input type="text" id="building" placeholder="Escribe el número del edificio (1, 2 o 3)">
        </div>
    </div>

    <div class="ct">
        <h2>2. Comparar la altura de las personas</h2>
        <div class="image-row">
            <img src="https://images.vexels.com/media/users/3/128199/isolated/preview/b354bc4707224bd3d15b9ae36eca70c0-dibujos-animados-de-estudiante-masculino.png" alt="Persona 1" class="image" data-size="large">
            <img src="https://images.vexels.com/media/users/3/128199/isolated/preview/b354bc4707224bd3d15b9ae36eca70c0-dibujos-animados-de-estudiante-masculino.png" alt="Persona 2" class="image" data-size="medium">
            <img src="https://images.vexels.com/media/users/3/128199/isolated/preview/b354bc4707224bd3d15b9ae36eca70c0-dibujos-animados-de-estudiante-masculino.png" alt="Persona 3" class="image" data-size="small">
        </div>
        <div class="rule"></div>
        <div class="answer-box">
            <label for="person">¿Quién es la persona más alta?</label>
            <input type="text" id="person" placeholder="Escribe el número de la persona (1, 2 o 3)">
        </div>
    </div>

    <div class="ct">
        <h2>3. Comparar el tamaño de las orugas</h2>
        <div class="image-row">
            <img src="https://png.pngtree.com/png-clipart/20220112/original/pngtree-green-bug-png-image_7100726.png" alt="Oruga 1" class="image" data-size="large">
            <img src="https://png.pngtree.com/png-clipart/20220112/original/pngtree-green-bug-png-image_7100726.png" alt="Oruga 2" class="image" data-size="medium">
            <img src="https://png.pngtree.com/png-clipart/20220112/original/pngtree-green-bug-png-image_7100726.png" alt="Oruga 3" class="image" data-size="small">
        </div>
        <div class="answer-box">
            <label for="caterpillar">¿Cuál oruga es la más grande?</label>
            <input type="text" id="caterpillar" placeholder="Escribe el número de la oruga (1, 2 o 3)">
        </div>
    </div>

    <div class="ct">
        <h2>4. Comparar la altura de los árboles</h2>
        <div class="image-row">
            <img src="https://static.vecteezy.com/system/resources/previews/016/583/585/non_2x/tree-cartoon-tree-free-png.png" alt="Árbol 1" class="image" data-size="medium">
            <img src="https://static.vecteezy.com/system/resources/previews/016/583/585/non_2x/tree-cartoon-tree-free-png.png" alt="Árbol 2" class="image" data-size="large">
            <img src="https://static.vecteezy.com/system/resources/previews/016/583/585/non_2x/tree-cartoon-tree-free-png.png" alt="Árbol 3" class="image" data-size="small">
        </div>
        <div class="rule"></div>
        <div class="answer-box">
            <label for="tree">¿Cuál árbol es el más alto?</label>
            <input type="text" id="tree" placeholder="Escribe el número del árbol (1, 2 o 3)">
        </div>
    </div>

    <div class="ct">
        <h2>5. Comparar el tamaño de las banderas</h2>
        <div class="image-row">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/1280px-Flag_of_Mexico.svg.png" alt="Bandera 1" class="image" data-size="small">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2560px-Flag_of_Brazil.svg.png" alt="Bandera 2" class="image" data-size="large">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of-the-United-States.svg.png" alt="Bandera 3" class="image" data-size="medium">
        </div>
        <div class="answer-box">
            <label for="flag">¿Cuál bandera es la más grande?</label>
            <input type="text" id="flag" placeholder="Escribe el número de la bandera (1, 2 o 3)">
        </div>
    </div>

    <div class="result" id="result"></div>
    <div style="text-align: center;">
        <button class="cm" onclick="checkAnswers()">Verificar Respuestas</button>
    </div>
    </div>