
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl2/botellas">
          <img src="/images/botellas.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Las Botellas </p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl2/bascula" >
          <img src="/images/bascula.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >La Báscula</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_mcl2/barras">
          <img src="/images/barras.webp" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Las Barras</p>
  </div>
 
    </div>
  </div>