
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo/itinerario" >
          <img src="/images/dn.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">El itinerario</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_tiempo/ct">
          <img src="/images/cal.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Conociendo el tiempo</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_tiempo/midia">
          <img src="/images/iti.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Mi Día a Día</p>
  </div>
 
    </div>
  </div>