  <!-- Header Start -->
  <div class="container-fluid page-header"  style="background-image: url('/images/MATH2.webp'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  margin-bottom: 0px; 
  min-height: 300px;
  text-align: center;">
      <div class="container">
          <div class="d-flex flex-column justify-content-center" style="min-height: 300px; align-items: center;">
              <h3 class="display-4 text-white text-uppercase">Ejercicios </h3>
              <h4 class="display-4 text-white text-uppercase">de Medición</h4>
              <div class="d-inline-flex text-white" style="text-align: center;">
                  <p class="m-0 text-uppercase">Longitud</p>
                  <i class="fa fa-angle-double-right pt-1 px-3"></i>
                  <p class="m-0 text-uppercase">Masa</p>
                  <i class="fa fa-angle-double-right pt-1 px-3"></i>
                  <p class="m-0 text-uppercase">Capacidad</p>
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->