
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl3/tinacos">
          <img src="/images/tinaco.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Los tinacos
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_mcl3/fracciones" >
          <img src="/images/fracciones.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Fracciones</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_mcl3/barras3">
          <img src="/images/edificios.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Comparando Edificios</p>
  </div>
 
    </div>
  </div>