<div class="body">
    <h1 class="he">¿Cuántas veces está contenido?</h1>

  <div class="ct">
    <div class="exercise-column" id="exercises-left"></div>
    <div class="exercise-column" id="exercises-right"></div>
  </div>

  <div class="buttons">
    <button class="bn">Calificar Ejercicio</button>
    <button class="bn" id="reiniciar">Intentar de nuevo</button>
  </div>

  <!-- Contenedores -->
  <div id="exercises-left"></div>
  <div id="exercises-right"></div>
  <div id="score"></div>
  <div id="intentos"></div>
</div>
