<div class="body">
    <h1 class="he">춰Reparte las Frutas!</h1>

    <!-- Ejercicio 1 -->
    <div class="section" id="fresa-section" data-answer="9">
      <div class="question">游꼡 Divide 72 fresas entre 8 personas (쮺u치ntas fresas le tocan a cada persona?)</div>
      <div class="ct" id="fresa-people"></div>
      <div class="fruit-bank" id="fresa-bank"></div>
      <input type="number" placeholder="쮺u치ntas?" />
    </div>
  
    <!-- Ejercicio 2 -->
    <div class="section" id="kiwi-section" data-answer="15">
      <div class="question">游볳 Divide 45 kiwis entre 3 personas (쮺u치ntos kiwis le tocan a cada persona?)</div>
      <div class="ct" id="kiwi-people"></div>
      <div class="fruit-bank" id="kiwi-bank"></div>
      <input type="number" placeholder="쮺u치ntos?" />
    </div>
  
    <!-- Ejercicio 3 -->
    <div class="section" id="pina-section" data-answer="8">
      <div class="question">游꼜 Divide 32 pi침as entre 4 personas (쮺u치ntas pi침as le tocan a cada persona?)</div>
      <div class="ct" id="pina-people"></div>
      <div class="fruit-bank" id="pina-bank"></div>
      <input type="number" placeholder="쮺u치ntas?" />
    </div>
  
    <!-- Ejercicio 4 -->
    <div class="section" id="manzana-section" data-answer="10">
      <div class="question">游꼝 Divide 60 manzanas entre 6 personas (쮺u치ntas manzanas le tocan a cada persona?)</div>
      <div class="ct" id="manzana-people"></div>
      <div class="fruit-bank" id="manzana-bank"></div>
      <input type="number" placeholder="쮺u치ntas?"  />
    </div>
  
    <button id="check">Revisar</button>
    <button class="bn" id="reiniciar">Intentar de nuevo</button>
    <div id="result"></div>
    <div id="intentos"></div>
  
</div>
