
<div class="body">

    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras2/<%= username %>/def" >
          <img src="/images/figuras.png" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Conociendo los Cuerpos <br>y Figuras Geométricas
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras2/<%= username %>/figuras" >
          <img src="/images/figuras.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >El juego de  las  Figuras</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_figuras2/<%= username %>/lados" >
          <img src="/images/figuras3.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Las Figuras y sus Características</p>
  </div>
  <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_figuras2/<%= username %>/tangram" >
          <img src="/images/figuras2.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">¿Cuales hay?</p>
    </div>
    </div>
  </div>