<div class="body">
  <h2>ACTIVIDAD 1: ANIMALES FAVORITOS</h2>
  <div class="actividad">
    <p>Diego pregunt칩 a sus amigos cu치l es su animal favorito. Observa los resultados:</p>
    <table class="tabla">
      <thead>
        <tr id="animal-head"></tr>
      </thead>
      <tbody>
        <tr id="animal-data"></tr>
      </tbody>
    </table>

    <div class="preguntas" id="preguntas-animales">
      <p>a) 쮸 cu치ntos ni침os se pregunt칩 en total? <input class="sr" data-preg="total"></p>
      <p>b) 쮺u치l fue el animal m치s popular? <input style="width: 280px;" class="sr" data-preg="mas_popular" placeholder="Escribe el nombre del animal"></p>
      <p>c) 쮺u치ntos prefirieron el 游냛? <input class="sr" data-preg="delf칤n"></p>
      <p>d) 쮺u치ntos prefirieron el 游? <input class="sr" data-preg="mono"></p>
      <p>e) 쮺u치ntos prefirieron el 游낸? <input class="sr" data-preg="tigre"></p>
      <p>f) 쮺u치ntos prefirieron el 游불? <input class="sr" data-preg="b칰ho"></p>
      <p>g) 쮺u치ntos prefirieron el 游냊? <input class="sr" data-preg="elefante"></p>
      <p>h) 쮺u치ntos prefirieron el 游붌? <input class="sr" data-preg="gorila"></p>
      <p>i) 쮺u치ntos prefirieron el 游냀? <input class="sr" data-preg="serpiente"></p>
    </div>
  </div>

  <h2>ACTIVIDAD 2: HELADOS FAVORITOS</h2>
  <div class="actividad">
    <p>Roc칤o pregunt칩 a sus amigos qu칠 sabor de helado les gusta m치s. Cuenta las marcas y escribe el total.</p>
    <table class="tabla">
      <thead>
        <tr>
          <th>游꼶 CHOCOLATE</th>
          <th>游꼱 VAINILLA</th>
          <th>游꼡 FRUTILLA</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="chocolate"></td>
          <td id="vainilla"></td>
          <td id="frutilla"></td>
          <td>
            <input class="sr" id="total-chocolate" data-preg="chocolate">
            <input class="sr" id="total-vainilla" data-preg="vainilla">
            <input class="sr" id="total-frutilla" data-preg="frutilla">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="text-align:center;">
    <button class="bn" onclick="verificar()" id="btn-verificar">Verificar</button>
    <button class="bn" id="btn-intentar" style="display: none;" onclick="intentarDeNuevo()">Intentar de nuevo</button>
    <div id="resultado"></div>
  </div>
    </div>