<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center py-4 px-xl-5">
        <div class="col-lg-3">
            <a href="" class="text-decoration-none">
                <h1 class="m-0"><span class="text-primary">B</span>ienvenido</h1>
                <div class="avatar-container">
                    <img src="<%= foto_perfil ? '/' + foto_perfil : '/img/default.png' %>" alt="Imagen de Usuario" class="rounded-circle" width="100"> 
                    <h2 class="m-1"><span class="text-primary"><%= username %>!</span></h2>
                </div>
            </a>
        </div>
        <div class="col-lg-3 text-right">
            <div class="d-inline-flex align-items-center">
                <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                <div class="text-left">
                    <h6 class="font-weight-semi-bold mb-1">ESCOM</h6>
                    <small>ESCOM IPN, Unidad Profesional Adolfo López Mateos, Av. Juan de Dios Bátiz, Nueva Industrial Vallejo, Gustavo A. Madero, 07320 Ciudad de México, CDMX
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-right">
            <div class="d-inline-flex align-items-center">
                <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
                <div class="text-left">
                    <h6 class="font-weight-semi-bold mb-1">Nuestro e-mail</h6>
                    <small>lalo.s.g.88@gmail.com</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-right">
            <div class="d-inline-flex align-items-center">
                <i class="fa fa-2x fa-phone text-primary mr-3"></i>
                <div class="text-left">
                    <h6 class="font-weight-semi-bold mb-1">Llamanos</h6>
                    <small>55 45 94 66 44</small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
</header>