<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center py-4 px-xl-5">
        <div class="col-lg-3">
            <a href="" class="text-decoration-none">
                <h1 class="m-0"><span class="text-primary">B</span>ienvenido</h1>
                <div class="avatar-container">
                    <img src="<%= foto_perfil %>" alt="Imagen de Usuario" class="rounded-circle" width="100">
                    <h2 class="m-1"><span class="text-primary"><%= username %>!</span></h2>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->